# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.pyc
out
gen
nsfw_pics/
nsfw_pics_spider/__init__.pyc
nsfw_pics_spider/settings.pyc
nsfw_pics_spider/spiders/22aap.pyc
nsfw_pics_spider/spiders/__init__.pyc
